---
import DownloadIcon from "../icons/Download.astro";
import { gres } from "../static/gres";
import type { iGRES } from "../static/types/gres";
interface Props {
    gresInfo: iGRES;
}

const { gresInfo } = Astro.props;
---

<div
    class="col-span-4 sm:col-span-2 lg:col-span-1 w-full border-2 border-[#292929] hover:bg-[#282828] duration-300 ease-in-out hover:bg-opacity-40 rounded-lg"
>
    <img
        src={`/src/library/${gresInfo.route}`}
        alt=""
        class="size-36 mt-3 mx-auto rounded-lg "
    />
    <!--<h2 class="text-white text-center mt-2 font-semibold">{gresInfo.title}</h2> -->
    
    <a
        href={`/elements/${gresInfo.category.toLowerCase()}`}
        class="text-white/40 w-[200px] text-center font-thin hover:underline"
        ><h3 class="mt-2">{gresInfo.category}</h3>
    </a>
    <div class="flex items-center space-x-1 w-full p-2 justify-center">
        <a
            download={gresInfo.title}
            href={`/src/library/${gresInfo.route}`}
            title="Descargar recurso"
            class="hover:bg-[#515151] p-1 rounded-md"
        >
            <DownloadIcon class="text-white" />
        </a>
    </div>
</div>

<!-- -->